nav{
background-color:  rgba(146, 89, 89, 1);
}
body{
    background-color: rgba(61, 61, 61, 1);
}

.banner{
    padding-top: 3rem;
    width: fit-content;
}
.top-imgs{
display:inline-block;
   margin: 0;
   padding:0;
   width: 33.3vw;
   height: 20rem;
}

.btn{
font-size: 1.5rem;
padding-left: 2rem;
padding-right: 2rem;
}
span{
    margin: 0;
    padding: 0;
}
#s{
    margin: 0;
    padding: 0;
}
#lg-txt{
    font-weight: bold;
    color:white;
    font-size: 3rem;
}
#bottom-img{
    width: 3rem;
    height: 3rem;
}
.test-head{
    font-weight: bold;
    font-style: italic;
    margin-top: 5rem;
    font-size: 5rem;
    text-align: center;
    color: white;
}
.tests{
    margin-top: 4rem;
    margin-bottom: 13rem;
    margin-left: 0;
    margin-right: 2rem;
}
.test{
    display: flex;
    margin-top: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    justify-content: center;
    color: black;
    font-size: 1.5rem;
    background-color:rgba(221, 221, 221, 0.26);
    margin-left: 2rem;
    
}


@media only screen and (max-width: 700px) {
    .test-head{
        font-size: 2rem;
        margin-bottom: 0;
        margin-top: 2rem;
    }
    .tests{
        margin-top: 0;
    }
    .top-imgs{
        height:10rem
    }
    #lg-txt{
        font-size: 1rem;
    }
    .btn{
        font-size: 1rem;
    }

    

  }


